#[mcu pico]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_454741505C0B96CA-if00


[belay my_belay]
extruder_type: extruder_stepper
extruder_stepper_name: my_extruder_stepper
sensor_pin: ^pico:gpio16
multiplier_high: 1.07
multiplier_low: 0.96
debug_level: 1

[extruder_stepper my_extruder_stepper]
extruder:extruder
step_pin: pico:gpio14
dir_pin: !pico:gpio13
enable_pin: !pico:gpio15
microsteps: 16
rotation_distance: 8.09274
pressure_advance: 0.026
pressure_advance_smooth_time: 0.04
full_steps_per_rotation: 200
#   The above commented-out parameters must be set. These should match
#   what you would use in the [extruder] section if you used this
#   extruder as your primary extruder. Other parameters such as
#   full_steps_per_rotation or gear_ratio may also be useful or
#   needed.
#   
#   See the "stepper" section in Klipper's Configuration Reference for
#   details on these parameters:
#   https://www.klipper3d.org/Config_Reference.html#stepper
#
#   In addition, you may want to add a
#   [tmc2209 extruder_stepper my_extruder_stepper] section or similar:
#   https://www.klipper3d.org/TMC_Drivers.html

[tmc2209 extruder_stepper my_extruder_stepper]
uart_pin: pico:gpio9
tx_pin: pico:gpio8
uart_address: 3
run_current: 0.6
hold_current: 0.500
stealthchop_threshold: 0