  [gcode_macro START_PRINT]
gcode:
  BACKUP_CFG
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
  SET_LED_EFFECT EFFECT=progress STOP=1
  SET_LED_EFFECT EFFECT=progress_bar
  SET_LED_EFFECT EFFECT=Chamber_color STOP=1
  SET_LED_EFFECT EFFECT=Chamber_color2
  SET_LED_EFFECT EFFECT=panel_idle STOP=1
  SET_LED_EFFECT EFFECT=top_print
  G28
  M190 S{BED_TEMP} ; set bed to print temp
  G4 P500000
  M83
  M109 S170
  G28
  G92 E0
  CLEAN_NOZZLE
  M18
  M109 S180 ; wait for nozzle to heat
  G28 ;home
  Z_TILT_ADJUST
  G28
  G92 E0 ;Reset Extruder
  BED_MESH_CLEAR
  BED_MESH_CALIBRATE ADAPTIVE=1 
  BED_MESH_PROFILE SAVE=adaptive
  BED_MESH_PROFILE LOAD=adaptive
  G1 Z4.0 F3000 ;Move Z Axis up
  G1 X50 Y-25 F6000 ; move to -30,-30
  M109 S{EXTRUDER_TEMP} ; wait for hotend
  M109 S{EXTRUDER_TEMP} ; set nozzle to print temp
  SET_GCODE_OFFSET Z_ADJUST=0.05
  SET_SKEW XY=141.1,141,99.5
  #G1 E10 F600
  #G1 E10 F600
  #G1 E10 F600
  #G1 E10 F600
  G92 E0 ; reset extruder
  M83
  #G1 E-3 F300 ; retract 3mm
  belter
  AFC_BRUSH
  G92 E0
  G1 Z2.0 F3000 ; bring bed down 2mm to safely travel to start of print
  

[gcode_macro END_PRINT]
gcode:
  M83 
  G1 E-5 F600 ; retract 10mm filament
  G92 e0
  G91
  G1 Z+15 F1500
  G90
  G1 X505 Y-25 ; move and park nozzle front right
  SET_GCODE_OFFSET Z=0
  SET_LED_EFFECT EFFECT=progress_bar STOP=1 
  SET_LED_EFFECT EFFECT=Chamber_color2 STOP=1
  SET_LED_EFFECT EFFECT=progress
  SET_LED_EFFECT EFFECT=Chamber_color
  SET_LED_EFFECT EFFECT=top_print STOP=1
  SET_LED_EFFECT EFFECT=panel_idle
  M18 ; disable steppers
  M104 S0           ; Turn off hotend
  M140 S0           ; Turn off bed
  SET_FAN_SPEED FAN=HEPA SPEED=50
  SET_FAN_SPEED FAN=exhaust SPEED=50
  G4 P60000
  SET_FAN_SPEED FAN=HEPA SPEED=0
  SET_FAN_SPEED FAN=exhaust SPEED=0
  